*{
  margin: 0;
  padding: 0;


}
body{
  background-color: black;
}

nav{

  width: 100%;

  text-align: center;

}
nav ul li{
  display: inline-block;
}

a{
  padding: 20px 30px;
  text-decoration: none;
  color:white;
  display: inline-block;
  font-family: 'Itim', cursive;

}
.active{
  background-color: rgba(255, 0, 50, 1);
  border-bottom: solid white 4px;
  box-sizing: border-box;
}
nav ul li a:hover{
  background-color:rgba(255, 0, 50, 1);
  border-bottom: solid white 4px;
  box-sizing: border-box;

}

img{
  width: 70px;
  height: 70px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom:0px;
  margin-right: 15px;

}
.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider .slider1{
  display: flex;
  padding: 0;
  width: 700%;
  animation: cambio 30s infinite;
  animation-direction: alternate;
}
.slider .sl{
  list-style: none;
  width: 100%;
}
.slider .slider1 .sl img{
  width: 100%;
  height: 70%;
  margin: auto;


}
@keyframes cambio {
  0% {margin-left: 0;}
  10% {margin-left: 0;}

  15% {margin-left: -100%;}
  25% {margin-left: -100%;}

  30% {margin-left: -200%;}
  40% {margin-left: -200%;}

  45% {margin-left: -300%;}
  55% {margin-left: -300%;}

  60% {margin-left: -400%;}
  70% {margin-left: -400%;}

  75% {margin-left: -500%;}
  85% {margin-left: -500%;}

  90% {margin-left: -600%;}
  100% {margin-left: -600%;}

}
section{
  position: absolute;
  width: 100%;
  height: 1300px;
  margin: auto;
  margin-top: -210px;
  margin-bottom: 0px;
  background: black;
  border: solid black 2px;
}
section>.container1{
  position: absolute;
  margin: auto;
  margin-left: 100px;
  margin-bottom: 0px;
  margin-top: 70px;
  width: 290px;
  height: 450px;
  background: black;
  float: left;
  overflow: hidden;
}
section>.container1>img{
  width: 290px;
  height: 450px;
}
.titulos{
  margin-top: 25%;
  margin-left: 50%;
  font-size: 35px;
  color: white;
}
section>.container1>.nv1{
  width: 290px;
  height: 450px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  transform: scale(0);
  transition-duration: 0s;
}
section>.container1:hover> .nv1{
  transform: scale(1);
  transition-duration:.5s;
}
section>.container1>.nv1>h4{
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  position: relative;
  overflow: hidden;

}

section>.container1>.nv1>p{
  color: white;
  text-align: justify;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
}

.container2{
  position: absolute;
  margin: auto;
  margin-left: 500px;
  margin-bottom: 0px;
  margin-top: 70px;
  width: 290px;
  height: 450px;
  background: black;
}
.container2>img{
  width: 290px;
  height: 450px;
}
section>.container2>.n1{
  width: 290px;
  height: 450px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  transform: scale(0);
  transition-duration: 0s;
}
section>.container2:hover> .n1{
  transform: scale(1);
  transition-duration:.5s;
}
section>.container2>.n1>h4{
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  position: relative;
  overflow: hidden;

}

section>.container2>.n1>p{
  color: white;
  text-align: justify;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
}

.container3{
  position: absolute;
  margin: auto;
  margin-left: 900px;
  margin-bottom: 0px;
  margin-top: 70px;
  width: 290px;
  height: 450px;
  background: black;
}
.container3>img{
  width: 290px;
  height: 450px;
}
section>.container3>.n2{
  width: 290px;
  height: 450px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  transform: scale(0);
  transition-duration: 0s;
}
section>.container3:hover> .n2{
  transform: scale(1);
  transition-duration:.5s;
}
section>.container3>.n2>h4{
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;

}

section>.container3>.n2>p{
  color: white;
  text-align: justify;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
}

footer{
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
  margin-top: 74%;
}
footer>.ar1{
  width: 100%;
  height: 100%;
  margin-top: 5px;
  background-color: black;

}
footer>.ar1>.pie1{
  width: 50%;
  height: 50%;
  background-color: black;
  margin-left: 25%;
  margin-bottom: 25px;
}
footer>.ar1>.pie1>.redes>img{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
}
footer>.ar1>.pie1>.redes{
  width: 50px;
  height: 50px;
  margin: auto;
  margin-left: -20px;
}
footer>.ar1>.pie1>.red{
  color: white;
  margin-left: 0%;
}
footer>.ar1>.pie1>.ter{
  color: white;
  margin-left: 0%;
  margin-top: 10px;
}
footer>.ar1>.pie1>.pr{
  color: white;
  margin-left: 0%;
  margin-top: 20px;
}
.pl{
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
  margin-top: 15%;
}
.container4{
  position: absolute;
  margin: auto;
  margin-left: 100px;
  margin-bottom: 110px;
  margin-top: 600px;
  width: 290px;
  height: 450px;
  background: black;
}
.container4>img{
  width: 290px;
  height: 450px;
}
section>.container4>.n3{
  width: 290px;
  height: 450px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  transform: scale(0);
  transition-duration: 0s;
}
section>.container4:hover> .n3{
  transform: scale(1);
  transition-duration:.5s;
}
section>.container4>.n3>h4{
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;

}

section>.container4>.n3>p{
  color: white;
  text-align: justify;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
}

.container5{
  position: absolute;
  margin: auto;
  margin-left: 500px;
  margin-bottom: 110px;
  margin-top: 600px;
  width: 290px;
  height: 450px;
  background: black;
}
.container5>img{
  width: 290px;
  height: 450px;
}
section>.container5>.n4{
  width: 290px;
  height: 450px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  transform: scale(0);
  transition-duration: 0s;
}
section>.container5:hover> .n4{
  transform: scale(1);
  transition-duration:.5s;
}
section>.container5>.n4>h4{
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;

}

section>.container5>.n4>p{
  color: white;
  text-align: justify;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
}

.container6{
  position: absolute;
  margin: auto;
  margin-left: 900px;
  margin-bottom: 200px;
  margin-top: 600px;
  width: 290px;
  height: 450px;
  background: black;
}
.container6>img{
  width: 290px;
  height: 450px;
}
section>.container6>.n5{
  width: 290px;
  height: 450px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  transform: scale(0);
  transition-duration: 0s;
}
section>.container6:hover> .n5{
  transform: scale(1);
  transition-duration:.5s;
}
section>.container6>.n5>h4{
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-top: 100px;

}

section>.container6>.n5>p{
  color: white;
  text-align: justify;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
}

.titanes{
  width: 200px;
  height: 300px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: red;
  margin-top: 700px;

}
.titanes>img{
  width: 200px;
  height: 300px;
}
h1{
  text-align: center;
  margin-top: 40px;
  color: white;
}
.titan{
  width: 700px;
  height: 500px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 380px;
}
.titan>p{
  margin-top: 550px;
  color: white;
  font-size: 20px;
  width: 100%;
}
.videotp{
  width: 500px;
  height: 500px;
  margin: auto;
  margin-left: 20%;
  position: absolute;
  margin-top: 30px;
}
.pelis{
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: white;
  margin-top: 0px;
}
.pelis>.a1{
  width: 100%;
  height: 300px;
  margin-top: 3px;
  background-color: black;

}
.pelis>.a1>.p1{
  width: 50%;
  height: 50%;
  background-color: black;
  margin-left: 25%;
  margin-bottom: 25px;
}
.pelis>.a1>.p1>img{
  width: 50px;
  height: 50px;
  margin: auto;

}
.pelic{
  width: 700px;
  height: 500px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 380px;
}
.pelic>p{
  margin-top: 600px;
  color: white;
  font-size: 20px;
  width: 100%;
}
